.card1 {
    width: 80%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    margin-top: 50px;
  }
.card2 {
    width: 80%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px;
    margin-top: 2px;
  }
  
  .add-btn, .cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .add-btn {
    background-color: rgb(124, 160, 114);
  color: white;
  }
  
  .cancel-btn {
    background-color: grey;
    color: white;
  }

  .select {
    width: 60%; 
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none; 
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  select:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  
  option {
    font-size: 16px;
    padding: 8px;
    background-color: #ffffff;
    color: #333;
  }
  
  option:hover {
    background-color: #f1f1f1; 
  }
  